.assets-search {
    position: relative;
}

.assets-search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.assets-search-border {
    padding: 0.5rem;
    border: 1px solid transparent;
    border-image:linear-gradient(90deg,
    rgba(255, 95, 106, 1) 0%,
    rgba(255, 167, 82, 1) 100%) 1;
    border-radius: 0.5em !important;
    
    width: 343px;
    height: 48px;
    font-size: 16px;
    background-color: #0e0e0e00;
    padding-left: 2rem;
    
}
.assets-search-border:focus {
    color: #FF6069;
}

.assets-search-border::placeholder {
    background: linear-gradient(90deg,
            rgba(255, 95, 106, 1) 0%,
            rgba(255, 167, 82, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.container-assets {
    display: flex;
    flex-direction: column;
    margin:3rem
    /* justify-content: center;
    align-items: center;     */
}
 
.container-assets .card-assets {
   
    position: relative;
    width: 273px;
    height: 345px;
    background: rgb(93 87 87 / 58%);
    border-radius: 20px;
    border-bottom-right-radius: 58px;
    overflow: hidden;
    border: 2px solid #ffffff6e;
}
 
 
.container-assets .card-assets .box-assets {
    position: relative;
    inset: 1px 1px;
    background: #76767600;
    border-radius: 20px;  
}
 
.image-assets img{
    border-radius: 20px;
    padding: 1rem 1rem 0.5rem 1rem;
}
 
.container-assets .card-assets .box-assets .icon-assets {
    transition: 0.5s;
    position: absolute;
    width: 110.3px;
    height: 110.3px;
    background: rgb(0, 0, 0);
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    right: 0%;  
}
 
.container-assets .card-assets .box-assets .icon-assets::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}
 
.container-assets .card-assets .box-assets .icon-assets::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr); 
}
 
.container-assets .card-assets .box-assets .icon-assets .iconbox-assets {
    position: absolute;
    inset: 20px;
    background: rgb(93 87 87 / 58%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
 
.container-assets .card-assets .box-assets .content-assets {
    position: absolute;
    padding-left: 1.5rem;
    margin: 0;
    /* row-gap: 2rem;
    display: grid; */
}
 
.title-assets01{
    display: flex;
    gap: 4rem;
    color: aliceblue;   
    padding-top: 1.5rem; 
}
 
.title-assets02{
    display: flex;
    padding-top: 0.5rem;
    position: relative;
    align-items: center;
    color: aliceblue;
    
}
 
.title-assets02 img{
    padding-right: 5px;
}
 
.title-assets02 p{
    padding-right: 1rem;
}


.assets-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 2rem;  
}
 
.assets-heading{
    color: white;
}
.assets-main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.dummy001{
    color: white;
}

@media only screen and (max-width: 1080px) {
    .container-assets {
        padding: 2rem 1rem;
    }
}