@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.container-cart-main{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    
}
.container-cart-main01{
    border: 1px solid grey;
    padding:3rem;
    background: rgb(93 87 87 / 58%);
    border-radius: 40px;
    width: 50vw;
}

.card-cart-main{
    display: flex;
   justify-content: space-between;
}

.card-cart-main-content{
    display: flex;
    gap: 1rem;
   
}

.content-cart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.title-cart01{
    padding-bottom: 1rem;
}

.title-cart01 p{
   margin: 0;
    font-size: 24px;
    color: white;
}



.title-cart02{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    gap: 0.5rem;
}

.title-cart02 p{
    margin: 0;
    font-size: 16px;
    color: white;

}

.title-cart02 h3{
    margin: 0;
    font-size: 16px;
    color: white;
}

.title-cart03{
    display: flex;
    padding-bottom: 1rem;
    gap: 1rem;
}

.title-cart03 h3{
    margin: 0;
    color: white;
}

.title-cart04 {
    margin: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.title-cart04 img{
    padding-right: 1rem;
}

.image-cart img{
   border-radius: 15px;
   
}

.container-cart {
   margin: 2.7rem;
}
.main-cart h2{
    color: white;
    text-align: left;
}

.container-cart-main02{
    border: 1px solid grey;
    padding: 3rem;
    background: rgb(93 87 87 / 58%);
    border-radius: 40px;
    width: 20vw;
    height: 277px;
}
.order-item01{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.order-cart .order-item02{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.checkout{
    display: flex;
    justify-content: center;
}
.checkout p{
    border: 1px solid transparent;
    border-radius: 0.5em;
    padding:1rem 0;
    color: aliceblue;
    width: 15vw;
    background: linear-gradient(90deg,
    rgba(255, 95, 106, 1) 0%,
    rgba(255, 167, 82, 1) 100%);
    cursor: pointer;

}


