.cat-container {
  margin: 3rem 4rem
      
}


.cat-heading {
    padding: 30px 0px;
    color: white;
    font-size: 24px;
    font-weight: bold;
  
}


.cat-search{
   
    position: relative;
  

}
.search-icon {
position: absolute;
     top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;  
}

.search-border{
    
    padding: 0.5rem;
    border: 1px solid #FFA752;
    border-radius: 8px;
    width: 343px;
    height: 48px;
    font-size: 16px;
    background-color: #0e0e0e00;
    padding-left: 40px;
  
   
    
    
}



 .search-border:focus {
    color: #FF6069;
  }

  .search-border::placeholder {
    background: linear-gradient(
        90deg,
        rgba(255, 95, 106, 1) 0%,
        rgba(255, 167, 82, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     
  }



  .cat-image{
      display: flex;
      gap: 1rem;
      width: 90vw;
      padding-bottom: 1rem;
    
  }

  .cat-icons{
 
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    
    
    
 
    
  }

  .cat-icon-main{
    border-radius: 10px;
    filter: brightness(60%);
   
   
  }

  .cat-icon-active{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon-container {
    position: relative;
    text-align: center; 
}


.icon-text {
    position: absolute;
  top:80%;
  left:50%;
   color: white;
    transform: translate(-50%, -50%);
    

}