.footer-container{
    background-color: #a9a9a94d ;
    height: auto;

    
   
    
}

.footer-main{
    display: flex;
    
    
    justify-content: space-evenly;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.footer-section1{
    display: flex;
    flex-direction: column;
    
}

.footer-heading{
    display: flex;
    gap:1rem;
    color:white;
}

.footer-heading h1{
    font-size: 3.08vw;
    padding-bottom: 1rem;
}

.footer-icons{
    display: flex;
    gap:2rem;
    justify-content: center;
    flex-wrap: wrap;
 
    
}


.footer-section2 h3{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
    color: white;
}

.footer-section2 p{
    font-size: 16px;
    color: #F8F8F8;
   padding-bottom: 0.3rem;
}

.footer-section3 h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-bottom: 1rem;
}

.footer-section3 p{
    font-size: 16px;
    color: #F8F8F8;
    padding-bottom: 0.3rem;
}

.footer-section4 h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-bottom: 1rem;
}

.footer-section4 p{
    font-size: 16px;
    color: #F8F8F8;
    padding-bottom: 0.3rem;
    
}


.footer-section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-section5 img{
width: 22px;
height:16px;

    
   
    
}


.footer-section5 h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-bottom: 1rem;
}

.footer-section5 p{
    font-size: 16px;
    color: #F8F8F8;
    padding-bottom: 0.3rem;
}

.copyright{
    color: white;
    text-align: center;
    padding: 1rem 0;
}



/* 
.footer-container {
    @apply bg-[#a9a9a94d] h-auto;
  }
  .footer-main {
    @apply flex justify-evenly py-12;
  }
  .footer-section1 {
    @apply flex flex-col;
  }
  .footer-heading {
    @apply flex gap-4 text-[white];
  }
  .footer-heading h1 {
    @apply text-[40px] pb-4;
  }
  .footer-icons {
    @apply flex gap-8 justify-center;
  }
  .footer-section2 h3 {
    @apply text-xl font-[bold] text-[white] pb-4;
  }
  .footer-section2 p {
    @apply text-base text-[#F8F8F8] pb-[0.3rem];
  }
  .footer-section3 h3 {
    @apply text-xl font-[bold] text-[white] pb-4;
  }
  .footer-section3 p {
    @apply text-base text-[#F8F8F8] pb-[0.3rem];
  }
  .footer-section4 h3 {
    @apply text-xl font-[bold] text-[white] pb-4;
  }
  .footer-section4 p {
    @apply text-base text-[#F8F8F8] pb-[0.3rem];
  }
  .footer-section5 {
    @apply flex flex-col items-center justify-center;
  }
  .footer-section5 img {
    @apply w-[22px] h-4;
  }
  .footer-section5 h3 {
    @apply text-xl font-[bold] text-[white] pb-4;
  }
  .footer-section5 p {
    @apply text-base text-[#F8F8F8] pb-[0.3rem];
  }
  .copyright {
    @apply text-[white] text-center px-0 py-4;
  } */
  