.payment-main{
    
}

.payment-section1{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.payment-section1 hr{
    width:20%
    
}

.payment-section1 h1{
    font-size:1.5rem;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 1rem;
    background: linear-gradient(90deg,
    rgba(255, 95, 106, 1) 0%,
    rgba(255, 167, 82, 1) 100%);
}


.payment-button{
    color: white;
    background: linear-gradient(90deg,
    rgba(255, 95, 106, 1) 0%,
    rgba(255, 167, 82, 1) 100%);
    padding: 0.5rem;
    border-radius: 0.5rem;
}