.guest-signup-main {
    display: flex;
}

.guest-left-signup {
    display: flex;
    margin: 2rem 7rem;
    background-color: #000000;
}

.guest-signup-form{
    width: 25vw;
  margin-top: 80px;
}

.guest-signup-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;  
}

.guest-signup-heading h1 {
    color: white;
    font-size: 2.25rem;
}

.guest-form-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.guest-form-label {
    align-self: flex-start;
    color: white;
    margin-bottom: 5px;
}

.guest-form-input {
    padding: 0.625rem;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 10px;
}

.guest-form-final-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guest-submit-button {
    padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  border-color: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 0.625rem;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(255, 95, 106, 1) 0%,
    rgba(255, 167, 82, 1) 100%
  );
}

.guest-submit-button:hover{
    opacity: 0.8;
}